
<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>

    <div class="container py-1 py-sm-2 py-lg-4 text-muted">
      <p><b>Ops! Essa página mudou...</b></p>
      Veja nas opções abaixo os produtos mais buscados. Ou faça uma busca para encontrar o que deseja.
      <hr>
      <%
            const { body } = await _.resolveRoute()
            _.breadcrumbs = [{
              name: _.ecomUtils.name(body),
              link: `/${body.slug}`
            }]
            %> <%- await include('@/view') %>
    </div>

    <%- await include('@/layout/footer') %>
  </main>

  <%- await include('@/json') %>
  <%- await include('@/scripts') %>
</body>

</html>
